body {
    margin: 0;
}

.container {
    width: 100vh;
    margin-bottom: 62px;
    box-sizing: border-box;
    
}

.container header {
    background-color: #FFFFFF;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    width: 100%;
       
}

.container h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FF3998;
    padding: 0px 32px;
}

.container h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #111111;
    padding: 0px 32px;
}

.container p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #555555;
    padding: 0px 32px;
}

.sign-up-container {
    padding: 0px 32px;
}

.sign-up-container button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #111111;
    background-color: #FFFFFF;
    border: 4px solid #000000;
    border-radius: 100px;
    border-image: url(assets\assets\sign-up-button-remas.png);
    box-sizing: border-box;
    padding: 22px 56px;
}

.hero-paveiksliuko-container {
    position: absolute;
    left: 330px;
    top: 60px;   
}

.hero-paveiksliuko-container img {
    height: 400px;
}

.container-spalvotas {
    background: #C4C4C4;
    margin: 0;
    padding: 32px;
}

.container-spalvotas h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    // display: flex;
    // align-items: flex-end;
    color: #111111;
}

.container-spalvotas p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #111111;
}

.company-names {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-sliding h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    color: #111111;
}

.container-sliding p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #555555;
}

.nft-container {
    background-color: #EEEEEE;
    margin: 50px;
    // border: ???;
}

.nft-purple-collumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-lady h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FF3998;
    padding: 0px 32px;
}

.container-lady h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #111111;
    padding: 0px 32px;
}

.container-lady p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #555555;
    padding: 0px 32px;
}

.lady-paveiksliuko-container {
    position: absolute;
    left: 400px;
    top: 2100px;   
}

.lady-paveiksliuko-container img {
    height: 400px;
}

footer {
    padding: 32px;
    margin-top: 50px;
}

footer h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #555555;
}

.social-container img:nth-child(2), img:nth-child(3), img:nth-child(4) {
    margin-left: 10px;
}

.footer-menu-container {
    display: flex;
    justify-content: center;
}

.copyright {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #999999;
}