body {
    margin: 0;
}

.main-container {
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
  }

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.navigation {
    display: none;
}

.container-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-bottom: 90px;
}

.container-1-visi {
    width: 61%;
}

.container-1 h3 {
    color: #FF3998;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 19px;
    padding: 0px 32px;
    text-transform: uppercase;
}

.container-1 h2 {
    color: #111111;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    padding: 0px 32px;
}

.container-1 p {
    color: #555555;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 0px 32px;
    width: 258px;
}

.sign-up-container {
    padding: 0px 32px;
    width: 200px;
}

.sign-up-container button {
    background-color: #FFFFFF;
    background-image: url(/assets/assets/sign-up-button-remas.svg);
    border: none;
    color: #111111;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 22px 56px;
    text-align: center;
}

.hero-paveiksliuko-container {
    max-width: 180px;
    position: relative;
    right: 20px;
}

.hero-paveiksliuko-container img {
    height: 350px;
    
}

.container-spalvotas {
    background-image: url(/assets/assets/background-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 60px 32px 20px 32px;

}

.container-spalvotas h2 {
    color: #111111;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}

.container-spalvotas p {
    color: #111111;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.company-names {
    align-items: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 32px;
    text-align: center;

    img {
        width: 75%;
    }
}

.container-sliding {
    padding: 0px 32px 32px 32px;
}

.container-sliding h2 {
    color: #111111;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}

.container-sliding p {
    color: #555555;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

a:link, a:visited {
    color: #555555;
}

.nft-container-visu {
    display: flex;
    overflow: auto;
}

.nft-container {
    background-color: #EEEEEE;
    border-radius: 16px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: space-between;    
    width: 290px;
}

.nft-container:nth-child(2), .nft-container:nth-child(3), .nft-container:nth-child(4) {
    margin-left: 30px;
}

.nft-container-left, .nft-container-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;

}

.nft-container-left {
    align-items: flex-start;
    display: flex;
    padding-left: 20px;
}

.nft-container-right {
    align-items: flex-end;
    display: flex;
    padding-right: 20px;
}

.nft-container-left :nth-child(1) {
    color: #FF8139;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
}

.nft-container-left :nth-child(2) {
    color: #111111;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.nft-container-left :nth-child(3) {
    color: #777777;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.nft-container-right :nth-child(1) {
    color: #777777;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-align: right;
    text-transform: uppercase;
}

.nft-container-right :nth-child(2) {
    color: #111111;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-left: 10px;
    text-align: right;
}

.nft-container-right :nth-child(3) {
    color: #777777;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: right;
}

.container-lady {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.container-lady h3 {
    color: #FF3998;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 19px;
    padding: 0px 32px;
    text-transform: uppercase;
}

.container-lady h2 {
    color: #111111;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    padding: 0px 32px;
    width: 274px;
}

.container-lady p {
    color: #555555;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 0px 32px;
    width: 207px;
}

.container-lady-img{
    left: 20px;
    max-width: 180px; 
    position: relative;
    top: 130px;
}

.container-lady-img img {
    height: 400px;
}

footer {
    margin-bottom: 60px;
    margin-top: 40px;
    padding-left: 32px;

}

.footer-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h3 {
    color: #555555;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.social-container img:nth-child(2), img:nth-child(3), img:nth-child(4) {
    margin-left: 10px;
}

.footer-right {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 50px 140px 60px 0px;
    width: 40%;
    }

.ul-wrapper:nth-child(2) {
    padding-right: 10px;
}

.ul-wrapper h4 {
    color: #555555;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 19px;
    text-transform: uppercase;
}

.ul-wrapper li {
    color: #555555;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.copyright {
    color: #999999;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    width: 100%;
}

@media only screen and (min-width: 1440px) {
    .main-container {
        padding: 32px 100px 0px 100px

    }

    header {
        margin-bottom: 125px;
    }
    
    .hamburger {
        display: none;
    }

    .navigation {
        display: contents;
    }

    .navigation nav {
        padding-right: 30px;
    }

    .navigation nav a {
        color: #555555;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        margin-right: 10px;
        text-decoration: none;
    }

    .navigation nav a:nth-child(4) {
        color: #FF3998;
    }

    .container-1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container-1 h2 {
        width: 60%;
    }

    .container-1 p{
        width: 500px;
    }

    .hero-paveiksliuko-container {
        max-width: 450px;
        right: 150px;
    }

    .hero-paveiksliuko-container img{
        height: 519px;
    }

    .container-spalvotas {
        background-image: url(/assets/assets/background-desktop.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        margin-bottom: 40px;
        
    }


    .company-names {
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }

    .company-names div {
        padding: 0px 30px 0px 30px;
    }

    .nft-container-visu {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 80px;
        overflow: scroll;
        padding-right: 32px;
        width: 110%;
    }

    .container-lady {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container-lady h2 {
        width: 60%;
    }

    .container-lady p {
        width: 500px;
    }

    .container-lady-img {
        padding-right: 300px;
        position: static;
    }

    .container-lady-img img {
        height: 600px;
    }

}